@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 90%;
    min-width: 70%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
}

.newNoteBtn{
    margin-bottom: 10px;
    float: right;
}

#search-bar{
    width: 35%;
    outline: none;
    border-radius: 50px;
    height: 2.3rem;
    text-indent: 5px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.232);
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#search-bar:focus{
    width: 65%;
    border: 1px solid rgba(247, 132, 0, 0.85);
}


ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.764);
    margin-left: 7px;
}

button {
    background-color: white;
    color: rgba(0, 0, 0, 0.764);
    padding: 10px 35px;
    border: none;
    cursor: pointer;
    border-radius: 540px
}

button:focus{
    background-color: rgba(0, 0, 0, 0.151);
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: left;
}


#note-title, #note-content{
    width: 90%;
    padding: 5px;
    border: none;
    outline: none;
}

#note-title{
    font-weight: bold;
    font-size: large;
    color: rgba(0, 0, 0, 0.764);
}

/* ... (Previous CSS styles remain unchanged) */

/* Style for the expanding textarea */
.expanding-textarea {
    resize: none; /* Disable browser default resizing */
    overflow-y: hidden; /* Hide vertical scrollbar */
}



.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    max-width: 380px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;

}

.addNoteBtn{
    background-color: rgba(0, 0, 0, 0.151);
}

.addNoteBtn:focus{
    background-color: rgba(0, 0, 0, 0.292);
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

/* Style for the timestamp */
.timestamp {
    color: #666;
    font-size: 11px;
}

.deleteNoteBtn{
    float: right;
    color: rgb(255, 123, 123);
}

.deleteNoteBtn:focus, #clear-storage-btn:focus{
    color: white;
    background-color: rgb(255, 123, 123);
}

#clear-storage-btn{
    color: rgb(255, 123, 123);
}

hr{
    border: 1px solid rgba(0, 0, 0, 0.292);
}